</head>

<body class="main-body">
  <div class="main-content">
    <header class="main-header-container">
      <div class="main-header-item">
        <div class="main-header-subitem">{{>title}}</div>
        <div class="main-header-subitem">{{>navbar}}</div>
      </div>
      <div class="main-header-item">{{>user}}</div>
    </header>
