<div class="box-header-menu">
  <a href="/home">
    Inicial
  </a>
  <a href="/treinamento">
    Treinamento
  </a>
  <a href="/avaliacao/resposta">
    Avaliações de respostas
  </a>
  <a href="/avaliacao/final">
    Avaliações finais
  </a>
</div>
