<div class="box-header-title">
  <a href="/">
    <img
      src="/img/chatbot.svg"
      style="width: 60px; margin-right: -15px; vertical-align: sub; margin-bottom: 2px;"
    />
    {{title}}
  </a>
</div>
