<div class="box-logged-user" id="logged-user">
  <div class="box-logged-user-item">
    <span class="box-logged-user-display-name">
      Bem vindo(a)
      {{username}}
    </span>
    <span style="margin-top: 15px">
      <a href="/logout" class="logout">
        <i class="fa fa-sign-out" aria-hidden="true"></i>
        Sair
      </a>
    </span>
  </div>
</div>
