{{>head}}
{{>header}}

<div class="box-center">

  <div class="box-buttons">
    <a href="/home" class="btn">Voltar</a>
  </div>

  <div class="box-center grey">
    <p>{{msg}}</p>
  </div>

</div>

{{>footer}}
