{{>head}}
{{>header}}

<div class="box-center grey">
  <div style="display:table; width: 100%">
    <div style="display:table-cell; vertical-align:middle; text-align: center;">
      <p>Bem vindo(a) à área administrativa.</p>
      <span style="color: #2d9891;">
        <p><b>Treinamento:</b> seção relacionada ao cadastro de perguntas e respostas responsáveis pelo treinamento do Chatbot.</b></p>
        <p><b>Avaliações de respostas:</b> seção onde o administrador poderá observar o <i>feedback</i> dado pelo usuário à cada resposta do Chatbot.</p>
        <p><b>Avaliações finais:</b> nesta seção é possível visualizar a avaliação final enviada pelos usuários que interagiram com o Chatbot.</p>
      </span>
      <br><img src="/img/chatbot.svg" style="width: 200px; opacity: 0.4; filter: grayscale(100%);"><br><br>
      <p style="max-width: 600px; margin: auto;">
        Este sistema foi desenvolvido como parte de um trabalho de conclusão de curso em Sistemas
        de Informação na Universidade Federal de Santa Catarina (UFSC).
      </p><br>
    </div>
  </div>
</div>

{{>footer}}
